@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: outfit;
}

 .clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
} 

.clip-diagonal-top {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
